__pycache__
venv*
.nfs*
destriped_probe*
CURSOR_INSTRUCTIONS.md
Figures_and_Technical_Validation/Sharp_wave_component_validation/INSTRUCT_CURSOR.md
.mypy_cache/
.dmypy.json
dmypy.json
setup_allen_cache.py
# Pyre type checker
.pyre/
OSF_README.txt
# VS Code settings folder (including launch.json)
.vscode/